@page
@model doctor.Pages.VisitPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Visit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visit.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visit.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visit.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visit.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visit.PacientId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visit.PacientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visit.DoctorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visit.DoctorId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Visit.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
